<!DOCTYPE html>
<html>
  <head>
    <title>TtsBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


          <div class="left">
            <% if user_signed_in? %>
            <%= link_to "Home", root_path, class: "btn-group btn-group-xs" %>
          <% end %>

          <div class="pull-right">
              <% if user_signed_in? %>
              <%= link_to "Edit Profile", edit_user_registration_path, class: "btn-group btn-group-xs" %>
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn-group btn-group-xs" %>
          <% end %>
        </div>
      </div>
    </nav>



    <%= yield %>
  </body>
</html>
